@page
@model WebPadaria.Pages.Compras.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Compra.Cliente_Id" class="control-label"></label>
                <select asp-for="Compra.Cliente_Id" class="form-control" asp-items="Model.Clientes"></select>
            </div>
            <div class="form-group">
                <label asp-for="Compra.Produto_Id" class="control-label"></label>
                <select asp-for="Compra.Produto_Id" class="form-control" asp-items="Model.Produtos"></select>
            </div>
            <div class="form-group">
                <label asp-for="Compra.Quantidade" class="control-label"></label>
                <input asp-for="Compra.Quantidade" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Compra.Valor_Total" class="control-label"></label>
                <input asp-for="Compra.Valor_Total" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).on('change', 'select[name="Compra.Produto_Id"], input[name="Compra.Quantidade"]', function () {
            var produtoId = $('select[name="Compra.Produto_Id"]').val();
            var quantidade = $('input[name="Compra.Quantidade"]').val();
            var preco = @Html.Raw(Json.Serialize(Model.Produtos.ToDictionary(p => p.Value, p => p.Text)));
            var total = quantidade * preco[produtoId];
            $('input[asp-for="Compra.Valor_Total"]').val(total);
        });
    </script>
}
